.cont-1 .card {
  margin-top: 50px;
  min-width: 800px !important;
}

.listitemcontainer {
  background-color: #f7f7f7;
}

.item-text {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.edit-background {
  background-color: "yellow";
}
